<div id="header">
  <ul class="nav justify-content-center">
    <h1 style="font-size: 50px; font-weight: bold">GitSearch</h1>
  </ul>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header shadow p-3 mb-5 bg-white rounded"></div>
        <div class="card-body" style="background-color: white">
          <form class="form-inline">
            <div class="form-group">
              <input
                [(ngModel)]="githubUserQuery"
                name="user"
                size="40"
                type="search"
                class="form-control"
              />
            </div>
            <div>
              <input
                style="margin-left: 10%"
                type="submit"
                value="search"
                class="btn btn-primary btn-sm"
                (click)="getUser()"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-3">
    <div
      class="row justify-content-center"
      style="justify-content: center; margin-left: 30%"
    >
      <div
        class="card shadow p-3 mb-5 rounded bg-white"
        style="
          width: 25rem;
          height: 25rem;
          background-color: rgba(232, 253, 255, 0.705);
        "
      >
        <img
          src="{{ profile?.avatar_url }}"
          alt=""
          style="
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: 25%;
            margin-top: 0%;
            justify-content: center;
          "
        />
        <div
          class="card-body shadow p-3 mb-5 rounded"
          style="background-color: rgba(232, 253, 255, 0.705)"
        >
          <h3 class="card-title" style="color: #007bff; font-weight: bold">
            {{ profile?.name }}
          </h3>
          <h6 class="card-text" style="font-weight: bolder">
            {{ profile?.bio }}
          </h6>
          <a
            href="{{ profile?.html_url }}"
            target="_blank"
            class="btn btn-danger"
            >Github</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="container">
    <div
      class="allrepos"
      style="display: flex; flex-wrap: wrap; justify-content: space-around"
    >
      <div class="card" class="repo">
        <div
          class="card-body shadow p-3 mb-5 rounded bg-white"
          *ngFor="let repo of repos"
        >
          <h5
            class="card-title"
            style="color: #007bff; font-weight: bolder"
          >
            Repo Name: &nbsp;{{ repo.name }}
          </h5>
          <div class="card-text">
            <hr />
            <div class="desc" style="font-weight: bolder">
              <span class="top">Description:</span> &nbsp;{{
                repo.description
              }}
            </div>
            <hr />
            <div class="card-subtitle mb-2">
              <span class="top">Language: </span> {{ repo.language }}
            </div>
            <div class="card-subtitle mb-2">
              <span class="top">Created On:</span> &nbsp;{{
                repo.created_at | date
              }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div
            class="btn-group"
            role="group"
            aria-label="Third group"
          ></div>
          <div
            class="btn-group"
            role="group"
            aria-label="Third group"
          ></div>
          <div
            class="btn-group"
            role="group"
            aria-label="Third group"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
